---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import ModelX from "../components/ModelX.astro";
import YModel from "../components/YModel.astro";
import ModelS from "../components/ModelS.astro";
import Powerwall from "../components/Powerwall.astro";
import Charger from "../components/Charger.astro";
---
<Layout title="Croissant con Café">
  
    <header class="px-10 py-5 flex items-center fixed top-0 w-full justify-between z-40 text-white">
<div class="flex flex-grow">

  <svg class="h-6 tds-icon tds-icon-logo-wordmark tds-site-logo-icon" viewBox="0 0 342 35" xmlns="http://www.w3.org/2000/svg"></svg>

</div>
<nav>
<ul class="flex text-sm [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2 text-white">
  <li><a class="font-semibold" href="#">Model S</a></li>
  <li><a class="font-semibold" href="#">Model 3</a></li>
  <li><a class="font-semibold" href="#">Model X</a></li>
  <li><a class="font-semibold" href="#">Model Y</a></li>
  <li><a class="font-semibold" href="#">Powerwall</a></li>
  <li><a class="font-semibold" href="#">Carga</a></li>
</ul>
</nav>
<nav class="flex flex-grow justify-end">
  <ul class="flex text-sm [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2 text-white">
      <li><a class="font-semibold" href="#">Soporte</a></li>
      <li><a class="font-semibold" href="#">Tienda</a></li>
      <li><a class="font-semibold" href="#">Cuenta</a></li>
      <li><a class="font-semibold" href="#">Menú</a></li>
      </ul>
</nav>

    </header>
    <main class=" snap-mandatory snap-y relative w-full h-screen overflow-auto">
      <div class="snap-center">
     <HeroSection />
     </div>
      </div>
      <div class="snap-center">
        <ModelX />
        </div>
        <div class="snap-end">
          <YModel/>
          </div>
          <div class="snap-center">
            <ModelS/>
            </div>
            <div class="snap-center">
              <Powerwall/>
              </div>
              <div class="snap-center">
                <Charger/>
                </div>
  </main>
  
</Layout>
