---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Tesla ES">
  <main>
  
    <header class="px-10 py-5 flex items-center fixed top-0 w-full justify-between">
<div class="flex flex-grow">

  <svg class="h-6 tds-icon tds-icon-logo-wordmark tds-site-logo-icon" viewBox="0 0 342 35" xmlns="http://www.w3.org/2000/svg"></svg>

</div>
<nav>
<ul class="flex text-sm [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
  <li><a class=" text-black font-semibold" href="#">Model S</a></li>
  <li><a class="text-black font-semibold" href="#">Model 3</a></li>
  <li><a class="text-black font-semibold" href="#">Model X</a></li>
  <li><a class="text-black font-semibold" href="#">Model Y</a></li>
  <li><a class="text-black font-semibold" href="#">Powerwall</a></li>
  <li><a class="text-black font-semibold" href="#">Carga</a></li>
</ul>
</nav>
<nav class="flex flex-grow justify-end">
  <ul class="flex text-sm [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
    <li><a class=" text-black font-semibold" href="#">Soporte</a></li>
      <li><a class="text-black font-semibold" href="#">Tienda</a></li>
      <li><a class="text-black font-semibold" href="#">Cuenta</a></li>
      <li><a class="text-black font-semibold" href="#">Menú</a></li>
      </ul>
</nav>

    </header>
      
  </main>
</Layout>
