<section class="bg-black h-screen w-screen text-center relative overflow-hidden">
    <div class="relative z-30 h-full flex flex-col">
      <header>
        <h2 class="text-white pt-20 text-[40px] font-medium">Charger</h2>
        <p class="text-white text-sm underline">Concertar instalación hoy mismo</p>
        </header>
        <footer class="flex flex-grow flex-nowrap justify-end flex-col pb-20">
          <div class="gap-x-4 flex m-auto">
        <a class="text-white border-2 border-white bg-white/5 backdrop-blur-3xl rounded font-medium px-6 py-6 inline-block hover:bg-white hover:text-black transition-colors duration-300" href='#'>
          Explorar el Inventario
        </a>
        </div>
        </footer>
    </div>
    
<div class="absolute top-0 bottom-0 h-full z-10">
<img src='/Station.webp' alt='Charger' class="bg-cover"
  />
</div>
  </section>